---
layout: layouts/home.njk
numberOfLatestPostsToShow: 5
---

<div class="o-grid">
	<div class="o-grid__item col-3">
		{% include "profile.njk" %}
	</div>
	<div class="o-grid__item col-9">

		{% set postsCount = collections.posts | length %}
		{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
		<h3>Blog</h3>
		{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
		{% set postslistCounter = postsCount %}
		{% include "postslist.njk" %}

		<div class="c-more">
			{% set morePosts = postsCount - numberOfLatestPostsToShow %}
			{% if morePosts > 0 %}
				<div class="c-more__text">
					{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %}
					can be found in the
					<a class="c-more__link" href="/blog/">Blog</a>
				</div>
			{% endif %}
		</div>

		{% set postsCount = collections.porto | length %}
		{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
		<h3>Portfolio</h3>
		{% set postslist = collections.porto | head(-1 * numberOfLatestPostsToShow) %}
		{% set postslistCounter = postsCount %}
		{% include "portfolio-list.njk" %}


		<div class="c-more">
			{% set morePosts = postsCount - numberOfLatestPostsToShow %}
			{% if morePosts > 0 %}
				<div class="c-more__text">
					{{ morePosts }} more project{% if morePosts != 1 %}s{% endif %}
					can be found in the
					<a class="c-more__link" href="/portfolio/">Portfolio</a>
				</div>
			{% endif %}
		</div>

		{# DEBUG: List of all url #}
		{# <ul>
			{%- for entry in collections.all %}
			<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
			{%- endfor %}
		</ul> #}
	</div>
</div>

