---
layout: layouts/home.njk
numberOfLatestPostsToShow: 3
---

<div class="o-grid">
	<div class="o-grid__item col-4">
		<div class="c-profile">
			<h3>About</h3>

			<div class="c-avatar">
				{% image "./ar1.png", "Arwan Salafudin Ashari" %}
			</div>

			<h4 class="c-profile__heading">
				{{ metadata.author.name }}
			</h4>

			<p>
				{{ metadata.description }}
			</p>

			<div class="c-list">
				<a href="https://www.linkedin.com/in/arwansa" target="_blank" class="c-list__item">
					<div class="c-list__icon">
						{% include "icons/linkedin.njk" %}
					</div>
					<div class="c-list__text">
						LinkedIn
					</div>
				</a>
				<a href="https://docs.google.com/document/d/1AW_5SfDP8R4v580TmsfXhO2TW-uYPcGMl9cEr3wQAvI/edit?usp=drivesdk" target="_blank" class="c-list__item">
					<div class="c-list__icon">
						{% include "icons/cv.njk" %}
					</div>
					<div class="c-list__text">
						Resume
					</div>
				</a>
				<a href="https://github.com/arwansa" target="_blank" class="c-list__item">
					<div class="c-list__icon">
						{% include "icons/github.njk" %}
					</div>
					<div class="c-list__text">
						GitHub
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="o-grid__item col-8">



		{% set postsCount = collections.posts | length %}
		{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
		<h3>Blog</h3>
		{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
		{% set postslistCounter = postsCount %}
		{% include "postslist.njk" %}
		{% set morePosts = postsCount - numberOfLatestPostsToShow %}
		{% if morePosts > 0 %}
			<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %}
				can be found in
				<a href="/blog/">the Blog</a>.</p>
		{% endif %}


		{% set postsCount = collections.porto | length %}
		{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
		<h3>Portfolio</h3>
		{% set postslist = collections.porto | head(-1 * numberOfLatestPostsToShow) %}
		{% set postslistCounter = postsCount %}
		{% include "postslist.njk" %}
		{% set morePosts = postsCount - numberOfLatestPostsToShow %}
		{% if morePosts > 0 %}
			<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %}
				can be found in
				<a href="/blog/">the Blog</a>.</p>
		{% endif %}

		{# DEBUG: List of all url #}
		{# <ul>
			{%- for entry in collections.all %}
			<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
			{%- endfor %}
		</ul> #}
	</div>
</div>

