<ol reversed class="c-postlist">
{% for post in postslist | reverse %}
	<li class="c-postlist__item{% if post.url == url %}{% endif %}">
		<a href="{{ post.url }}" class="c-postlist__link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<time class="c-postlist__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("d MMMM y") }}</time>
	</li>
{% endfor %}
</ol>
