<div class="c-profile">
	<div class="c-avatar">
		{% image "./ar1.png", "Arwan Salafudin Ashari" %}
	</div>

	<h4 class="c-profile__heading">{{ metadata.author.name }}</h4>
	<p>{{ metadata.description }}</p>

	<div class="c-list">
		<a href="https://www.linkedin.com/in/arwansa" target="_blank" class="c-list__item">
			<div class="c-list__icon">
				{% include "icons/linkedin.njk" %}
			</div>
			<div class="c-list__text">
				LinkedIn
			</div>
		</a>
		<a href="https://drive.google.com/file/d/1LDVp-_jjhH7BYUGz4QrHdq-lkdlqy1Tq/view" target="_blank" class="c-list__item">
			<div class="c-list__icon">
				{% include "icons/cv.njk" %}
			</div>
			<div class="c-list__text">
				Resume
			</div>
		</a>
		<a href="https://github.com/arwansa" target="_blank" class="c-list__item">
			<div class="c-list__icon">
				{% include "icons/github.njk" %}
			</div>
			<div class="c-list__text">
				GitHub
			</div>
		</a>
	</div>
</div>
