.c-avatar {
	width: 100px;
	height: 100px;
	border-radius: $global-radius;
	overflow: hidden;
	border: 2px solid $color-accent;

	img {
		width: 100%;
		height: auto;
	}

	@include breakpoint(tablet-up) {
		width: 150px;
		height: 150px;
	}

}
