.c-avatar {
	width: 100px;
	height: 100px;
	border-radius: $global-radius;
	overflow: hidden;
	padding: 2px;
	background: $color-accent;

	img {
		width: 100%;
		height: auto;
		border-radius: $global-radius - 1;
	}

	@include breakpoint(tablet-up) {
		width: 150px;
		height: 150px;
	}

}
