.c-body {
	padding: 0 $global-space;
	padding-bottom: $global-space * 2;
	position: relative;
	min-height: calc(100vh - 172px);

	@include breakpoint(desktop-up) {
		min-height: calc(100vh - 149px);
	}
}
