.c-footer {
	padding: $global-space;
	border-top: 1px solid $color-grey;
	letter-spacing: $global-letter-spacing;

	// sticky footer
	margin-top: auto;
	font-size: 0.7rem;
	text-transform: uppercase;
	color: $color-grey-lighter;

	a {
		color: $color-white;

		&:hover {
			color: $color-white-lighter;
		}
	}

	.o-grid {
		&__item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: calc($global-space/4);

			&:last-child {
				margin-bottom: 0;
			}

			@include breakpoint(tablet-up) {
				&:last-child {
					justify-content: flex-end;
				}
			}
		}
	}
}
