.c-footer {
	display: flex;
	align-items: center;
	padding: calc($global-space / 2) $global-space;
	border-top: 1px solid $color-grey;
	position: relative;

	// sticky footer
	margin-top: auto;
	font-size: 0.7rem;
	text-transform: uppercase;
	color: $color-grey-lighter;

	a {
		color: $color-white;

		&:hover {
			color: $color-white-lighter;
		}
	}
}
