.c-list {

	&__item {
		display: inline-flex;
		align-items: center;

		&:hover {
			.c-list__text {
				color: $color-white-lighter;
				text-decoration-color: $color-grey-lighter;
			}
			svg {
				stroke: $color-accent-lighter;
			}
		}

		@include breakpoint(tablet-up) {
			display: flex;
			padding: calc($global-space/5) 0;
		}
	}

	svg {
		stroke: $color-accent;
	}

	&__text {
		margin-left: calc($global-space/4.5);
		margin-right: calc($global-space/2.5);
		letter-spacing: $global-letter-spacing;
		color: $color-white-lighter;
		transition: $global-transition;
		font-family: $font-heading;
		text-decoration: underline;
		text-decoration-color: transparent;

		@include breakpoint(tablet-up) {
			margin-right: 0;
			margin-left: calc($global-space/3);
		}
	}

	&--footer {
		margin-right: calc($global-space/1.2);

		&:last-child {
			margin-right: 0;
		}

		svg {
			width: 15px;
			height: 15px;
			top: 1px;
			stroke: $color-grey-lighter;
		}

		.c-list__text {
			margin-left: calc($global-space/5);
			font-size: 0.7rem;
			font-family: $font-body;
			margin-right: 0;
			text-decoration: none;
			color: $color-white;
		}
	}
}
