.c-list {

	&__item {
		display: inline-flex;
		align-items: center;
		padding: calc($global-space/6) 0;

		&:hover {
			svg {
				stroke: $color-white-lighter;
			}
		}

		@include breakpoint(tablet-up) {
			display: flex;
		}
	}

	&__text {
		margin-left: calc($global-space/4.5);
		margin-right: calc($global-space/2.5);
		font-size: 0.9rem;

		@include breakpoint(tablet-up) {
			margin-right: 0;
			margin-left: calc($global-space/3);
		}
	}

	&--footer {
		svg {
			width: 15px;
			height: 15px;
			top: 1.8px;
		}

		.c-list__item {

			&:hover {
				.c-list__text {
					text-decoration: none;
				}
			}

		}

		.c-list__text {
			margin-left: calc($global-space/5);
			font-size: 0.7rem;
		}
	}
}
