.c-logo {
	line-height: 1;
	width: 100%;
	height: 100%;

	&__link {
		width: 100%;
		height: 100%;
		display: block;
		text-decoration: none;
		display: flex;
		align-items: center;
		font-weight: 700;
	}
}
