.c-more {

	&__text {
		margin-top: calc($global-space/1.5);
		font-size: 0.85rem;
		color: $color-grey-lighter;
	}

	&__link {
		color: $color-white;
		text-transform: uppercase;
		letter-spacing: $global-letter-spacing;
		font-size: 0.75rem;
	}

}
