.c-postlist {
	margin: 0;
	padding-left: 0;
	list-style: none;

	// &__item {}

	&__link {
		display: flex;
		flex-wrap: wrap;
		padding: calc($global-space/6.5) 0;

		&:hover {

			.c-postlist__text {
				text-decoration-line: underline;
				text-decoration-color: $color-accent;
			}

			.c-postlist__date {
				color: $color-white-lighter;
			}
		}

		@include breakpoint(tablet-up) {
			align-items: center;
		}
	}

	&__text {
		width: 100%;

		@include breakpoint(tablet-up) {
			width: 70%;
		}
	}

	&__date {
		width: 100%;
		font-size: 0.85rem;
		color: $color-white;
		transition: $global-transition;

		@include breakpoint(tablet-up) {
			display: flex;
			justify-content: flex-end;
			width: 30%;
		}
	}

	&--tag {
		.c-postlist__link {
			flex-wrap: nowrap;
		}
		.c-postlist__date {
			display: flex;
			justify-content: flex-end;
		}
	}
}
