.c-post {
	padding-bottom: 60px;

	&__title {
		margin-bottom: 0.8rem;
	}

	&__meta {
		display: flex;
		align-items: center;
	}

	&__time,
	&__tag {
		color: $color-grey-lighter;
		font-size: 0.9rem;
	}

	&__time {
		margin-right: calc($global-space/2);
	}

	&__tag {
		margin-right: calc($global-space/2);
	}

	&__content {

		p {
			max-width: $paragraph-width;
			margin-bottom: $global-space;
			font-size: 0.93rem;
		}

		img {
			max-width: initial;
			width: 100% !important;
			height: auto;
			margin-bottom: $global-space;
			border: 2px solid $color-grey;
			border-radius: $global-radius;
		}

		h1, h2, h3, h4, h5, h6 {
			max-width: $paragraph-width;
		}

		h3, h4, h5 {
			position: relative;
			// padding-left: calc($global-space);
		}

		h4, h5 {
			// padding-left: calc($global-space/1.3);
		}
	}
}
