.c-profile {
	margin-top: $global-space * 2.1;

	&__heading {
		margin-top: $global-space;
		margin-bottom: calc($global-space/2);
	}

	p {
		max-width: 400px;
		font-family: $font-body;
		font-size: 0.9rem;

		@include breakpoint(tablet-up) {
			max-width: 263px;
		}
	}

}
