.c-profile {

	&__heading {
		line-height: 0.9rem;
		margin-bottom: calc($global-space/2);
	}

	p {
		font-family: var(--font-body);
		font-size: clamp(0.9rem, 0.9rem + ((1vw - 0.2rem) * 0.571), 1rem);
	}

}
