// global
$global-space: 1.2rem;
$global-transition: all .2s ease-in-out, width 0s, display 0s;
$global-radius: 4px;
$global-letter-spacing: 0.009em;

// color
$color-white: #ababab;
$color-white-lighter: #d1d1d1;
$color-black: #111111;
$color-black-lighter: #1d1d1d;
$color-grey: #3a3a3a;
$color-grey-lighter: #787878;
$color-accent: #c2fc65;
$color-accent-lighter: #85bf22;
$color-code: #81a1da;

// font
$font-heading: 'Hanken Grotesk', -apple-system, system-ui, sans-serif;
$font-body: 'Inter', -apple-system, system-ui, sans-serif;
$font-mono: 'Jetbrains Mono', Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;

// fluid typography
// https://css-tricks.com/snippets/css/fluid-typography/
$min-width: 320px;
$max-width: 1024px;
$min-font: 17px;
$max-font: 17px;
$mod-1: 1.17; // mobile
$mod-2: 1.2; // desktop

// post detail
$paragraph-width: 38rem;
