// color
$color-white: #9e9e9e;
$color-black: #252525;
$color-primary: #c2fc65;
$color-primary-hover: #f5ffe4;
$color-border: #383838;

// global
$global-space: 1.5rem;
$global-transition: all .2s ease;

// fluid typography
// https://css-tricks.com/snippets/css/fluid-typography/
$min-width: 320px;
$max-width: 1024px;
$min-font: 16px;
$max-font: 18px;
$mod-1: 1.1; // mobile
$mod-2: 1.3; // desktop
